body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s;
}

li:hover {
    background-color: gray;
}

li.active {
    font-weight: bold;
    background-color: darkgray;
}
